<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959949404332-d7p8dr61lklahce2i4vet89u2bltl5fn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959949404332-d7p8dr61lklahce2i4vet89u2bltl5fn</string>
	<key>API_KEY</key>
	<string>AIzaSyD2-BXqYn_v49MoYrrPudymJLRRO2yiJvE</string>
	<key>GCM_SENDER_ID</key>
	<string>959949404332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kidozh.discuz-flutter</string>
	<key>PROJECT_ID</key>
	<string>disflyandroid</string>
	<key>STORAGE_BUCKET</key>
	<string>disflyandroid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959949404332:ios:f190f01a41313305234709</string>
</dict>
</plist>